body {
  margin: 0;
  padding: 0;
  background: #272727;
  font-family: "Roboto", sans-serif;
}

.topnav {
  display: flex;
  justify-content: flex-start;
}

.topnav a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  padding-top: 2vw;
  padding-left: 4vw;
}


.openbtn {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #272727;
  padding-top: 1.7vw;
  padding-left: 4vw;
  outline: none;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a1919d3;
  overflow-x: hidden; /* Keeps text hidden when bar not there*/
  transition: 0.5s;
  padding-top: 4rem;
  filter: drop-shadow(1vw 1vw 1vw #00000056);
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #b8b8b8;
  display: block; /* Keeps the text going*/
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  margin-left: 50px;
}

header h1 {
  text-align: center;
  font-size: 3vw;
  letter-spacing: 0.2rem;
  color: rgb(224, 224, 224);
}

#monthfilm{
  display: flex;
  background-image: url(https://www.watchhunter.org/wp-content/uploads/2017/08/dunkirk-movie-header.jpg);
  background-size: cover;
  background-position: center;
  height: 30vw;
  filter: drop-shadow(1vw 1vw 1vw #000000);
}

#monthtv {
  display: flex;
  background-image: url(https://coverfiles.alphacoders.com/144/144626.jpg);
  background-size: cover;
  background-position: center;
  height: 30vw;
  filter: drop-shadow(1vw 1vw 1vw #000000);
}

.month-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0000007c;
  width: 100%;
}

.month-text p {
  color: #acacac;
  font-style: italic;
  font-size: 1vw;
  text-decoration: underline;
  text-underline-position: under;
  letter-spacing: 0.2rem;
}

.month-text a {
  font-size: 2vw;
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 5vw;
  padding: 1vw;
  border-radius: 20rem;
  background: #00000049;
  filter: drop-shadow(1vw 1vw 1vw #000000);
  font-size: 1.5vw;
}

nav a {
  color: rgb(236, 236, 236);
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

main h1 {
  font-size: 1.2rem;
  color: #ffffff77;
  font-style: italic;
  letter-spacing: 0.14rem;
  text-align: center;
  padding: 0;
}

article {
  display: flex;
  flex-direction: row;
  color: #f5f5f5d7;
  line-height: 1.5rem;
  margin: 2vw; 
  background: #0000007c;
  filter: drop-shadow(1vw 1vw 1vw #000000);
}


article img {
  order: 0;
  margin: 0 3vw 3vw 3vw;
  padding-top: 2vw;
  width: 20rem;

}

.synopsis {
  order: 1;
  flex-basis: 400vw;
  padding: 2vw 3vw 3vw 1vw; 
  text-align: justify;

}
.synopsis a , .title {
  color: #ffffffd7;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.info {
  font-style: italic;
  color: #818181;
  padding: 0;
}

.review {
  order: 2; 
  text-align: justify;
  padding-right: 3vw; 
  margin-top: 1vw;
}

a:hover , .openbtn:hover , #month-text a:hover , nav a:hover {
  color: #818181;
}

.sidebar a:hover {
  color: white;
}

#up-btn {
  text-decoration: none; 
  position: fixed;
  font-size: 4vw; 
  color: #dbdbdb;
  float: right; 
  bottom: 1vw; 
  right: 5vw; 
  z-index: 1;
}

footer {
  text-align: center;
  color: white;
}

@media screen and (max-width: 700px) {
  .topnav a {
    font-size: 1.2rem;
  }
  .topnav {
    padding-top: 1.8vw;
    padding-left: 1vw;
  }
  .openbtn {
    padding-top: 1vw;
    font-size: 1.2rem;
  }
  .sidebar {
    padding-top: 4rem;
  }
  .sidebar a {
    font-size: 1.2rem;
  }

  header h1 {
    font-size: 5vw;
    text-align: center;
  }

  #month-text p {
    font-size: 0.7rem;
  }

  #month-text a {
    font-size: 1rem;
  }

  nav a {
    font-size: 1rem;
  }

 article {
   flex-direction: column;
 }

 article img {
   width: 15rem;
   align-self: center;
 }

 .review {
   margin-top: -150vw;
 }

 #up-btn {
   font-size: 2rem;
 }

  footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  nav {
    flex-direction: column;
    align-content: center;
  }
}
