body {
  margin: 0;
  padding: 0;
  background: #272727;
  font-family: "Roboto", sans-serif;
}

.topnav {
  display: flex;
  justify-content: flex-start;
}

.topnav a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  padding-top: 2vw;
  padding-left: 4vw;
}

.topnav a:hover,
.openbtn:hover {
  color: #818181;
}

.openbtn {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #272727;
  padding-top: 1.7vw;
  padding-left: 4vw;
  outline: none;
}

.sidebar a:hover {
  color: white;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a191954;
  overflow-x: hidden; /* Keeps text hidden when bar not there*/
  transition: 0.5s;
  padding-top: 4rem;
  filter: drop-shadow(1vw 1vw 1vw #00000056);
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #b8b8b8;
  display: block; /* Keeps the text going*/
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  margin-left: 50px;
}

/* FONT FAMILY WHAT */

#home-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fffffff3;
  filter: drop-shadow(1vw 1vw 1vw black);
  margin-top: 2rem;
  margin-bottom: 6rem;
}

#home-summary h1 {
  order: 1;
  justify-self: center;
  font-size: 3vw;
  letter-spacing: 0.2rem;
}

#home-summary p {
  order: 2;
  text-align: justify;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-bottom: 1vw;
    line-height: 1.6rem;
}

.h-categories {
  font-size: 1.2rem;
  color: #ffffff77;
  font-style: italic;
  letter-spacing: 0.14rem;
  text-align: center;
  padding: 0;
}

.fav-container1 {
  display: flex;
  padding-top: 3vw;
}

.fav-container1 img {
  order: 0;
  padding: 0 5vw 3vw 20vw;
  filter: drop-shadow(1vw 1vw 1vw black);
}

.fav-container1-text {
  order: 1;
  color: #f5f5f5d7;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: justify;
  line-height: 1.5rem;
}

.fav-container1-text a {
  order: 0;
  color: #f5f5f5d7;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.fav-container1-text a:hover {
  color: #818181;
}
/* Ready player 1 Homepage */

.fav-container2 {
  display: flex;
  justify-content: flex-end;
  padding-top: 3vw;
}

.fav-container2-text {
  order: 0;
  color: #f5f5f5d7;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: justify;
  line-height: 1.5rem;
}

.fav-container2-text a {
  order: 0;
  color: #f5f5f5d7;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.fav-container2-text a:hover {
  color: #818181;
}

.fav-container2 img {
  order: 1;
  padding: 0 20vw 5vw 5vw;
  filter: drop-shadow(1vw 1vw 1vw black);
}

/* footer */

#footer {
  text-align: center;
  color: white;
  
}

/* Media screen */
/* the menu is very wide - fix? */
@media screen and (max-width: 700px) {
  .topnav a {
    font-size: 1.2rem;
  }
  .topnav {
    padding-top: 1.8vw;
    padding-left: 1vw;
  }
  .openbtn {
    padding-top: 1vw;
    font-size: 1.2rem;
  }
  .sidebar {
    padding-top: 4rem;
  }
  .sidebar a {
    font-size: 1.2rem;
  }
  #home-summary h2 {
    font-size: 5vw;
  }
  #home-summary h1 {
    font-size: 6vw;
    text-align: center;
  }
  #home-summary p {
    font-size: 1rem;
  }
  .fav-container1 {
    flex-direction: column-reverse;
  }
  .fav-container1-text,
  .fav-container2-text {
    max-width: none;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .fav-container2 {
    flex-direction: column;
  }

  .fav-container2 img {
    padding-left: 20vw;
    padding-top: 2rem;
  }

  .fav-container1 img {
    padding-top: 2rem;
  }

  footer {
    font-size: 1rem;
  }
}
