body {
    margin: 0;
    padding: 0;
    background: #272727;
  }

.topnav {
    display: flex;
    justify-content: flex-start;

}

.topnav a {
    order: 0;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding-top: 4vw;
    padding-left: 6vw;
    /* padding-bottom: 2vw; */
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    /* background-color: #1b1b1b; */
    padding: 1.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.menu a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

article h2 {
    order: 0;
    font-size: 2vw;
    padding-top: 60px; 
}

article h1 {
    order: 1;
    justify-self: center;
    font-size: 5vw;
    margin-top: 0; 
}

article p {
    order: 2; 
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw; 
    padding-bottom: 4vw; 
}



#footer {
    display: flex;
    justify-content: center;
    color: white;
}
