html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: purple;
    height: 100px;
  }

  #img {
    width: 100vw;
    height: auto;
  }

  p {
    position: absolute;
    top: 200px;
  }
